<%- include('partials/header.ejs') %>
    <div class="container" id="main-container">
        <h1>Email confirmed</h1>
        <p>Your email address has been confirmed. Your message will be deliered on the day you requested.</p>
    </div>
</body>
</html>