<%- include('partials/header.ejs') %>
    <div class="container" id="main-container">
        <h1>Donate</h1>
        <div class="row">
            <div class="col">
                <p>gt</p>
            </div>
            <div class="col">
                <p>The aim of this website is to run it as cheaply as possible, 
                    so that we are able to deliver emails in 20 or even 50 years. 
                    However, this of course costs money. 
                    If the next 100 visitors donated a small amount that maybe be possible.</p>    
            </div>
    

        </div>



    </div>
 </body>
</html>