<%- include('partials/header.ejs') %>
    <div class="container" id="main-container">
      
      <div class="row">

        <div class="col-md container" id="row-with-text">
          <div class="centered">
            <h1>Send an email to yourself in the future</h1>
            <p>"I send one on my birthday every year, its an amazing way to reflect on the previous year and look forward to the next!"</p>
            <p>Rafael Sebastián Vicente (regular contributer)</p>
          </div>
        </div>

        <div class="col-md">
          <form action="/email" method="post">
            <div class="container shadow py-2">
              <h5>Write your email here</h5>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Your message</label>
                <textarea class="form-control" name="messageContents" rows="7" required></textarea>
              </div>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required/>
                <div id="emailHelp" class="form-text">We'll need to confirm you email before it can be delivered</div>
              </div>



              <div class="justify-content-center">
                <label for="deliveryDate">When do you want your message delivered</label>
    
                  <div class="row">
                    <div class="col">
                        <select id="timePeriodDropDown" class="form-select" aria-label="Default select example" name="dateSelect">
                          <option value="1">In 1 year</option>
                          <option value="2">In 2 years</option>
                          <option selected value="3">In 3 years</option>
                          <option value="5">In 5 years</option>
                          <option value="10">In 10 years</option>
                          <option value="20">In 20 years</option>
                          <option value="99">Custom</option>
                        </select>
                      </div>
                      <div class="col">
                          <input id="arrivalDate" class="form-control" type="date" name="deliveryDate" />
                      </div>
                  </div>
                 
              </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>


        </div>
      </div>
      

    </div>
    <script type="text/javascript" src="js/homePage.js"></script>
  </body>
</html>
