<%- include('partials/header.ejs') %>
    <div class="container" id="main-container">
        <h1>Thank you</h1>
        <p>Thank you for submitting your email. 
            You just need to confirm your email address and then your message will be delivered on <%= date %>.
             Your confirmation email should arrive in the next few minutes.</p>    
    </div>
 </body>
</html>