body{
    font-family: Source Code Pro,monospace;
    background-color: #CAE7DF;

}
nav {
    background-color: white;
    color: white;
}
form{
    background-color: #F4ABAA;

}

#main-container{
    padding-top: 2em;
}

#row-with-text {
    padding-top: 5em;
}

button {
    margin-top: 0.5em;
}

/* Blog */
.blog-post-meta {
    color: gray;
}

.post {
    border: black solid;
    border-width: thin;
    padding-top: 1.5em;
    margin-top: 2.5em;
}
